In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("orders_data.csv")
data

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,18-02-2023,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,17-03-2023,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,07-08-2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,19-11-2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,17-07-2022,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [4]:
data.head(5)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [5]:
data.shape

(9994, 16)

In [6]:
data.describe()

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

Order date is in object, need to convert into date datatype

In [8]:
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In ship mode column has values like 'Not Available', 'unknown'. so reading data from file, we can handle them as NA values

In [9]:
df1 = pd.read_csv("orders_data.csv", na_values = ['Not Available', 'unknown'])
df1['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [10]:
df1['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

Derive New Columns discount, sale price and profit for each unit

In [11]:
df1.head(5)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [12]:
# Selling Price Per Unit

df1['Selling Price'] = df1['List Price'] * (1 -  df1['Discount Percent']/100)
df1['Selling Price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: Selling Price, Length: 9994, dtype: float64

In [13]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling Price
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1

In [14]:
# Profit Per Unit

df1['Profit'] = (df1['Selling Price'] - df1['cost price'])
df1['Profit']

0        14.8
1       108.1
2        -0.5
3       160.8
4        -1.0
        ...
9989     -1.2
9990     16.4
9991     34.8
9992     -0.9
9993     22.8
Name: Profit, Length: 9994, dtype: float64

In [15]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling Price,Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1

In [16]:
# rename columns

df1.rename(columns={'Order Id': 'Order_Id', 'Order Date':'Order_Date', 'Ship Mode':'Ship_Mode', 'Postal Code':'Postal_Code', 'Sub Category':'Sub_Category', 'Product Id':'Product_Id', 'cost price':'Cost_Price', 'List Price':'List_Price', 'Discount Percent':'Discount_Percent', 'Profit' : 'Unit_Profit', 'Selling Price' : 'Unit_Selling_Price'}, inplace= True)
df1.head()

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent,Unit_Selling_Price,Unit_Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

In [17]:
df1.dtypes

Order_Id                int64
Order_Date             object
Ship_Mode              object
Segment                object
Country                object
City                   object
State                  object
Postal_Code             int64
Region                 object
Category               object
Sub_Category           object
Product_Id             object
Cost_Price              int64
List_Price              int64
Quantity                int64
Discount_Percent        int64
Unit_Selling_Price    float64
Unit_Profit           float64
dtype: object

changing datatype of order date column from object to datetime

In [18]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent,Unit_Selling_Price,Unit_Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1

In [19]:
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format='%d-%m-%Y')

In [20]:
df1.dtypes

Order_Id                       int64
Order_Date            datetime64[ns]
Ship_Mode                     object
Segment                       object
Country                       object
City                          object
State                         object
Postal_Code                    int64
Region                        object
Category                      object
Sub_Category                  object
Product_Id                    object
Cost_Price                     int64
List_Price                     int64
Quantity                       int64
Discount_Percent               int64
Unit_Selling_Price           float64
Unit_Profit                  float64
dtype: object

In [21]:
df1.head()

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent,Unit_Selling_Price,Unit_Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,-1.0

Dropping few columns (cost price, list price, discount percent)

In [22]:
df1.drop(columns= ['Cost_Price', 'List_Price', 'Discount_Percent'], inplace=True)

In [23]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1

In [24]:
# Total Profit

df1['Total_Profit'] = df1['Quantity'] * df1['Unit_Profit']

In [25]:
df1.head()

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0

In [26]:
print(df1.isnull().sum())

Order_Id              0
Order_Date            0
Ship_Mode             6
Segment               0
Country               0
City                  0
State                 0
Postal_Code           0
Region                0
Category              0
Sub_Category          0
Product_Id            0
Quantity              0
Unit_Selling_Price    0
Unit_Profit           0
Total_Profit          0
dtype: int64

# Find the highest profit generating products

In [27]:
df1.groupby('Product_Id')

In [28]:
df1.groupby('Product_Id').sum(['Total_Profit'])

,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit
Product_Id,,,,,,
FUR-BO-10000112,3513,60653,9,805.1,45.1,405.9
FUR-BO-10000330,13658,256733,10,1036.4,146.4,560.0
FUR-BO-10000362,18886,184360,14,2089.4,189.4,638.6
FUR-BO-10000468,35749,357215,21,706.1,86.1,380.6
FUR-BO-10000711,9310,120635,12,830.9,40.9,345.9
...,...,...,...,...,...,...
TEC-PH-10004912,21739,166396,11,493.8,53.8,203.8
TEC-PH-10004922,31470,296048,19,1037.3,57.3,259.2
TEC-PH-10004924,13937,105326,8,48.2,-1.8,-6.0
TEC-PH-10004959,5191,83105,4,328.8,28.8,74.4
TEC-PH-10004977,49957,473928,32,5099.0,399.0,1593.2

In [29]:
df1.groupby('Product_Id').sum(['Total_Profit']).sort_values(by = ['Total_Profit'], ascending = False)

,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit
Product_Id,,,,,,
TEC-CO-10004722,28222,194875,20,59514.0,5644.0,24816.0
TEC-MA-10002412,2698,32216,6,21734.4,3624.4,21746.4
OFF-BI-10000545,57937,302599,48,18249.0,1959.0,17867.7
TEC-CO-10001449,41444,428939,38,18151.2,2631.2,15948.0
FUR-CH-10002024,44560,448062,39,21096.2,2246.2,13930.7
...,...,...,...,...,...,...
OFF-BI-10003712,46354,562879,45,124.7,-5.3,-35.7
OFF-AR-10003631,20973,277819,30,106.4,-3.6,-37.0
OFF-PA-10000143,38761,389204,29,153.8,-6.2,-39.5
OFF-BI-10002799,32515,368281,40,114.2,-5.8,-44.5
OFF-FA-10002280,54151,608473,47,251.8,-8.2,-48.2

In [30]:
df1.groupby('Product_Id').sum(['Total_Profit']).sort_values(by = ['Total_Profit'], ascending = False).reset_index()

,Product_Id,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit
0,TEC-CO-10004722,28222,194875,20,59514.0,5644.0,24816.0
1,TEC-MA-10002412,2698,32216,6,21734.4,3624.4,21746.4
2,OFF-BI-10000545,57937,302599,48,18249.0,1959.0,17867.7
3,TEC-CO-10001449,41444,428939,38,18151.2,2631.2,15948.0
4,FUR-CH-10002024,44560,448062,39,21096.2,2246.2,13930.7
...,...,...,...,...,...,...,...
1857,OFF-BI-10003712,46354,562879,45,124.7,-5.3,-35.7
1858,OFF-AR-10003631,20973,277819,30,106.4,-3.6,-37.0
1859,OFF-PA-10000143,38761,389204,29,153.8,-6.2,-39.5
1860,OFF-BI-10002799,32515,368281,40,114.2,-5.8,-44.5
1861,OFF-FA-10002280,54151,608473,47,251.8,-8.2,-48.2

In [31]:
df1.groupby('Product_Id').sum(['Total_Profit']).sort_values(by = ['Total_Profit'], ascending = False).reset_index()['Total_Profit'].head(10)

0    24816.0
1    21746.4
2    17867.7
3    15948.0
4    13930.7
5    12792.9
6    11481.9
7    10102.3
8    10015.1
9     9989.0
Name: Total_Profit, dtype: float64

In [32]:
df1.groupby('Product_Id').sum(['Total_Profit']).sort_values(by = ['Total_Profit'], ascending = False).reset_index()[['Product_Id', 'Total_Profit']].head(10)

        Product_Id  Total_Profit
0  TEC-CO-10004722       24816.0
1  TEC-MA-10002412       21746.4
2  OFF-BI-10000545       17867.7
3  TEC-CO-10001449       15948.0
4  FUR-CH-10002024       13930.7
5  OFF-BI-10003527       12792.9
6  TEC-PH-10001459       11481.9
7  TEC-MA-10000822       10102.3
8  FUR-TA-10000198       10015.1
9  TEC-MA-10001047        9989.0

Create a column for Total Sales value of each order

In [33]:
df1['Quantity']

0       2
1       3
2       2
3       5
4       2
       ..
9989    3
9990    2
9991    2
9992    4
9993    2
Name: Quantity, Length: 9994, dtype: int64

In [34]:
df1['Unit_Selling_Price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: Unit_Selling_Price, Length: 9994, dtype: float64

In [35]:
# calculate the total selling price and profits for all orders

df1['Total_Sales'] = df1['Unit_Selling_Price'] * df1['Quantity']
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3

# List all distinct cities where orders have been shipped

In [36]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3

In [37]:
df1['City'].unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville',
       'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson',
       'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City',
       'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy',
       'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton',
       'Ormond Beach', 'Sunnyvale', 'York', 'College Station',
       'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City',
       'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton',
       'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls',
       'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks',
       'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella',
       'Elmhurst', 'Passaic', 'North Charleston', 'Newport News',
       'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville',
       'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling',
       'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover',
       'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach',
       'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange',
       'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville',
       'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire',
       'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian',
       'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City',
       'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia',
       'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe',
       'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe',
       'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami',
       'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa',
       'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton',
       'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood',
       'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow',
       'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen',
       'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights',
       'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo',
       'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor',
       'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston',
       'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens',
       'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park',
       'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa',
       'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena',
       'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island',
       'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara',
       'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa',
       'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest',
       'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro',
       'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City',
       'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview',
       'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly',
       'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach',
       'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro',
       'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene',
       'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank',
       'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis',
       'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City',
       'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford',
       'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls',
       'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan',
       'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange',
       'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente',
       'San Luis Obispo', 'Springdale', 'Lodi', 'Mason'], dtype=object)

In [38]:
df1['City'].nunique()

531

Find all orders from the 'Technology' category that were shipped using 'Second Class' ship mode, ordered by order date

In [39]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3

In [40]:
df1[df1['Category'] == 'Technology']

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,864.5,4.5,27.0,5187.0
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,882.7,132.7,530.8,3530.8
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,203.7,33.7,101.1,611.1
26,27,2022-02-08,Second Class,Consumer,United States,Los Angeles,California,90049,West,Technology,Accessories,TEC-AC-10003027,3,87.3,7.3,21.9,261.9
35,36,2022-10-30,First Class,Corporate,United States,Richardson,Texas,75080,Central,Technology,Phones,TEC-PH-10004977,7,1045.0,25.0,175.0,7315.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9983,9984,2022-09-14,Standard Class,Consumer,United States,Grand Rapids,Michigan,49505,Central,Technology,Phones,TEC-PH-10001305,2,96.0,16.0,32.0,192.0
9986,9987,2022-11-30,Standard Class,Consumer,United States,Los Angeles,California,90008,West,Technology,Accessories,TEC-AC-10003399,1,38.0,-2.0,-2.0,38.0
9987,9988,2023-04-01,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Accessories,TEC-AC-10001539,1,77.6,-2.4,-2.4,77.6
9988,9989,2022-11-17,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Phones,TEC-PH-10004006,5,199.5,19.5,97.5,997.5
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,254.8,34.8,69.6,509.6

In [41]:
df1[df1['Ship_Mode'] == 'Second Class']

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0,19.0
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,57.6,-2.4,-4.8,115.2
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,9.6,-0.4,-0.8,19.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,9966,2022-12-31,Second Class,Corporate,United States,Newark,Delaware,19711,East,Office Supplies,Paper,OFF-PA-10000349,1,0.0,0.0,0.0,0.0
9966,9967,2022-02-21,Second Class,Corporate,United States,Newark,Delaware,19711,East,Office Supplies,Envelopes,OFF-EN-10004483,7,105.6,5.6,39.2,739.2
9980,9981,2023-06-26,Second Class,Consumer,United States,Lafayette,Louisiana,70506,South,Furniture,Tables,FUR-TA-10001039,1,88.2,8.2,8.2,88.2
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,28.8,-1.2,-3.6,86.4
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,232.8,22.8,45.6,465.6

In [42]:
df1[(df1['Category'] == 'Technology') & (df1['Ship_Mode'] == 'Second Class')]

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,203.7,33.7,101.1,611.1
26,27,2022-02-08,Second Class,Consumer,United States,Los Angeles,California,90049,West,Technology,Accessories,TEC-AC-10003027,3,87.3,7.3,21.9,261.9
161,162,2023-11-27,Second Class,Consumer,United States,Philadelphia,Pennsylvania,19134,East,Technology,Accessories,TEC-AC-10003657,2,47.5,7.5,15.0,95.0
181,182,2022-06-25,Second Class,Corporate,United States,Decatur,Illinois,62521,Central,Technology,Accessories,TEC-AC-10004659,7,397.7,17.7,123.9,2783.9
182,183,2022-01-10,Second Class,Home Office,United States,Monroe,Louisiana,71203,South,Technology,Phones,TEC-PH-10003273,4,475.0,5.0,20.0,1900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9891,9892,2023-05-21,Second Class,Corporate,United States,Milwaukee,Wisconsin,53209,Central,Technology,Accessories,TEC-AC-10003116,7,116.4,6.4,44.8,814.8
9892,9893,2023-01-02,Second Class,Corporate,United States,Milwaukee,Wisconsin,53209,Central,Technology,Phones,TEC-PH-10002262,5,291.0,31.0,155.0,1455.0
9949,9950,2022-01-07,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Technology,Accessories,TEC-AC-10004568,3,77.6,7.6,22.8,232.8
9950,9951,2022-03-19,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Technology,Accessories,TEC-AC-10001714,1,38.8,-1.2,-1.2,38.8
9960,9961,2023-02-26,Second Class,Home Office,United States,Florence,Kentucky,41042,South,Technology,Accessories,TEC-AC-10002305,1,19.0,-1.0,-1.0,19.0

In [43]:
df1.head(1)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6

Find the average of total sales

In [44]:
np.mean(df1['Total_Sales'])

np.float64(1108.5979787872725)

In [45]:
# mean_total_sales = round(np.mean(df1['Total_Sales']), 2)
# mean_total_sales = float(mean_total_sales)
# mean_total_sales

Find the city with the highest total quantity of products ordered

In [46]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3

In [47]:
df1.groupby(['City'])

In [48]:
df1.groupby('City').sum('Quantity')

,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
City,,,,,,,
Aberdeen,9261,57401,3,28.8,-1.2,-3.6,86.4
Abilene,6990,79605,2,0.0,0.0,0.0,0.0
Akron,97234,930552,65,2650.9,290.9,708.3,7018.3
Albuquerque,67175,1219470,65,2158.1,208.1,1122.9,11382.9
Alexandria,47898,356864,84,5264.8,294.8,1911.2,29811.2
...,...,...,...,...,...,...,...
Woonsocket,19448,11580,15,194.0,4.0,43.5,723.5
Yonkers,74122,160515,57,7326.5,566.5,3454.7,47084.7
York,23392,87015,19,790.9,60.9,281.0,3111.0
Yucaipa,3348,92399,5,49.0,9.0,45.0,245.0
Yuma,27473,341456,22,812.9,42.9,248.4,4458.4

In [49]:
df1.groupby('City').sum('Unit_Selling_Price')['Quantity'].reset_index().sort_values(by = ['Quantity'], ascending = False)

              City  Quantity
329  New York City      3417
266    Los Angeles      2879
374   Philadelphia      1981
438  San Francisco      1935
452        Seattle      1590
..             ...       ...
257    Lindenhurst         1
221        Jupiter         1
213      Iowa City         1
386    Port Orange         1
140         Elyria         1

[531 rows x 2 columns]

In [50]:
# df1[df1['Order_Id'] == 6489]

Rank orders in each region by quantity in descending order

In [51]:
df1[['Order_Id', 'Region', 'Quantity']].sort_values(by = ['Region', 'Quantity'], ascending = [True, False])

      Order_Id   Region  Quantity
660        661  Central        14
1045      1046  Central        14
7387      7388  Central        14
8074      8075  Central        14
9515      9516  Central        14
...        ...      ...       ...
9752      9753     West         1
9838      9839     West         1
9902      9903     West         1
9953      9954     West         1
9986      9987     West         1

[9994 rows x 3 columns]

List all orders placed in the first quarter of any year (January to March), including the total cost of these orders

In [52]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3

In [53]:
df1['Order_Date'].dt.month

0        3
1        8
2        1
3        6
4        7
        ..
9989     2
9990     3
9991     8
9992    11
9993     7
Name: Order_Date, Length: 9994, dtype: int32

In [54]:
df1['Month'] = df1['Order_Date'].dt.month
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8

In [55]:
df1[df1['Month'].isin([1,2,3])].head(10)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0,19.0,1
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,48.5,-1.5,-10.5,339.5,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,864.5,4.5,27.0,5187.0,1
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,19.6,-0.4,-1.2,58.8,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,1658.7,188.7,1698.3,14928.3,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,19.4,-0.6,-1.8,58.2,2
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,649.9,39.9,239.4,3899.4,2
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,9.6,-0.4,-0.8,19.2,1
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,203.7,33.7,101.1,611.1,1

In [56]:
# ALternate

# df1['Quarter'] = df1['Order_Date'].dt.quarter
# df1.head(2)

# df1[df1['Quarter'] == 1]

In [57]:
# df1[df1['Order_Date'].dt.month.isin([1, 2, 3])]

In [58]:
df1['Order_Year'] = df1['Order_Date'].dt.year
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023

In [59]:
df1['Quarter'] = df1['Order_Date'].dt.quarter
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3

In [60]:
temp_df = df1.groupby(['Order_Year', 'Quarter']).sum('Total_Sales')['Total_Sales'].reset_index()
temp_df

   Order_Year  Quarter  Total_Sales
0        2022        1    1275547.6
1        2022        2    1355326.7
2        2022        3    1343727.8
3        2022        4    1500939.2
4        2023        1    1559456.2
5        2023        2    1282878.4
6        2023        3    1308164.5
7        2023        4    1453287.8

In [61]:
temp_df[temp_df['Quarter'] == 1]

   Order_Year  Quarter  Total_Sales
0        2022        1    1275547.6
4        2023        1    1559456.2

Find top 10 highest profit generating products

In [62]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3

In [63]:
df1.groupby('Product_Id').sum(['Total_Profit'])['Total_Profit'].reset_index().sort_values(by = 'Total_Profit', ascending = False).head(10)

           Product_Id  Total_Profit
1614  TEC-CO-10004722       24816.0
1642  TEC-MA-10002412       21746.4
657   OFF-BI-10000545       17867.7
1604  TEC-CO-10001449       15948.0
80    FUR-CH-10002024       13930.7
776   OFF-BI-10003527       12792.9
1724  TEC-PH-10001459       11481.9
1624  TEC-MA-10000822       10102.3
318   FUR-TA-10000198       10015.1
1630  TEC-MA-10001047        9989.0

Find the top 3 highest selling products in each region according to quantity

In [64]:
df1.groupby(['Region', 'Product_Id']).sum('Quantity')

                         Order_Id  Postal_Code  Quantity  Unit_Selling_Price  \
Region  Product_Id
Central FUR-BO-10000112      3513        60653         9               805.1
        FUR-BO-10000362      1595        61604         3               349.2
        FUR-BO-10000468      3031        48146         4               180.5
        FUR-BO-10000711      5221        48234         3               203.7
        FUR-BO-10000780     16297       229596        17              2223.1
...                           ...          ...       ...                 ...
West    TEC-PH-10004896      1088        94601         3                68.6
        TEC-PH-10004897      4320        87105         3                19.2
        TEC-PH-10004908     38344       421143        22              1433.2
        TEC-PH-10004922     11121       180757         9               459.2
        TEC-PH-10004977     11216       262951        10              1500.9

                         Unit_Profit  Total_Profit  Total_Sales  Month  \
Region  Product_Id
Central FUR-BO-10000112         45.1         405.9       7245.9      4
        FUR-BO-10000362         49.2         147.6       1047.6      1
        FUR-BO-10000468         30.5         122.0        722.0      9
        FUR-BO-10000711          3.7          11.1        611.1      7
        FUR-BO-10000780        243.1        1503.7      14003.7     16
...                              ...           ...          ...    ...
West    TEC-PH-10004896          8.6          25.8        205.8      1
        TEC-PH-10004897         -0.8          -2.4         57.6     12
        TEC-PH-10004908        123.2         680.4       7300.4     25
        TEC-PH-10004922         39.2         199.2       2299.2     17
        TEC-PH-10004977         90.9         311.2       5101.2     19

                         Order_Year  Quarter
Region  Product_Id
Central FUR-BO-10000112        2023        2
        FUR-BO-10000362        2022        1
        FUR-BO-10000468        2022        3
        FUR-BO-10000711        2023        3
        FUR-BO-10000780        6068        6
...                             ...      ...
West    TEC-PH-10004896        2022        1
        TEC-PH-10004897        2023        4
        TEC-PH-10004908       10114       10
        TEC-PH-10004922        4044        6
        TEC-PH-10004977        6067        8

[5298 rows x 10 columns]

In [65]:
df1.groupby(['Region', 'Product_Id']).sum('Quantity')['Quantity']

Region   Product_Id
Central  FUR-BO-10000112     9
         FUR-BO-10000362     3
         FUR-BO-10000468     4
         FUR-BO-10000711     3
         FUR-BO-10000780    17
                            ..
West     TEC-PH-10004896     3
         TEC-PH-10004897     3
         TEC-PH-10004908    22
         TEC-PH-10004922     9
         TEC-PH-10004977    10
Name: Quantity, Length: 5298, dtype: int64

In [66]:
df1.groupby(['Region', 'Product_Id']).sum('Quantity')['Quantity'].reset_index()

       Region       Product_Id  Quantity
0     Central  FUR-BO-10000112         9
1     Central  FUR-BO-10000362         3
2     Central  FUR-BO-10000468         4
3     Central  FUR-BO-10000711         3
4     Central  FUR-BO-10000780        17
...       ...              ...       ...
5293     West  TEC-PH-10004896         3
5294     West  TEC-PH-10004897         3
5295     West  TEC-PH-10004908        22
5296     West  TEC-PH-10004922         9
5297     West  TEC-PH-10004977        10

[5298 rows x 3 columns]

In [67]:
x = df1.groupby(['Region', 'Product_Id']).sum('Quantity')['Quantity'].reset_index().sort_values(by = ['Region', 'Quantity'], ascending = [True, False]).head(10)
x

       Region       Product_Id  Quantity
461   Central  OFF-BI-10000301        34
474   Central  OFF-BI-10000756        33
470   Central  OFF-BI-10000546        29
491   Central  OFF-BI-10001249        29
61    Central  FUR-CH-10002304        27
299   Central  OFF-AP-10001947        27
69    Central  FUR-CH-10002880        26
188   Central  FUR-FU-10003724        25
589   Central  OFF-BI-10004040        25
1140  Central  TEC-AC-10004510        25

In [68]:
x.groupby('Region').head(2).reset_index()

   index   Region       Product_Id  Quantity
0    461  Central  OFF-BI-10000301        34
1    474  Central  OFF-BI-10000756        33

In [69]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3

Total sale in each region

In [70]:
df1.groupby('Region').sum(['Total_Sales'])

,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
Region,,,,,,,,,,
Central,11685963,151786150,8780,483668.6,46378.6,236121.2,2387881.2,15256,4698281,5875
East,14073919,50171698,10618,654320.0,58220.0,295773.8,3257983.8,18605,5760082,7169
South,8213295,55875052,6209,378011.5,38011.5,202743.6,1966053.6,10427,3276428,4026
West,15971838,293739752,12266,699858.6,62558.6,305289.6,3467409.6,20732,6478034,8023

In [71]:
df1.groupby('Region').sum(['Total_Sales']).reset_index()

,Region,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,Central,11685963,151786150,8780,483668.6,46378.6,236121.2,2387881.2,15256,4698281,5875
1,East,14073919,50171698,10618,654320.0,58220.0,295773.8,3257983.8,18605,5760082,7169
2,South,8213295,55875052,6209,378011.5,38011.5,202743.6,1966053.6,10427,3276428,4026
3,West,15971838,293739752,12266,699858.6,62558.6,305289.6,3467409.6,20732,6478034,8023

In [72]:
df1.groupby('Region').sum(['Total_Sales'])['Total_Sales']

Region
Central    2387881.2
East       3257983.8
South      1966053.6
West       3467409.6
Name: Total_Sales, dtype: float64

In [73]:
df1.groupby('Region').sum(['Total_Sales'])['Total_Sales'].reset_index()

    Region  Total_Sales
0  Central    2387881.2
1     East    3257983.8
2    South    1966053.6
3     West    3467409.6

In [74]:
df1.groupby('Region').sum(['Total_Sales'])['Total_Sales'].reset_index().sort_values(by = ['Total_Sales'], ascending = False)

    Region  Total_Sales
3     West    3467409.6
1     East    3257983.8
0  Central    2387881.2
2    South    1966053.6

Find top 5 highest selling products in each region according to sales

In [75]:
df1.groupby(['Region', 'Product_Id']).sum(['Total_Sales'])

                         Order_Id  Postal_Code  Quantity  Unit_Selling_Price  \
Region  Product_Id
Central FUR-BO-10000112      3513        60653         9               805.1
        FUR-BO-10000362      1595        61604         3               349.2
        FUR-BO-10000468      3031        48146         4               180.5
        FUR-BO-10000711      5221        48234         3               203.7
        FUR-BO-10000780     16297       229596        17              2223.1
...                           ...          ...       ...                 ...
West    TEC-PH-10004896      1088        94601         3                68.6
        TEC-PH-10004897      4320        87105         3                19.2
        TEC-PH-10004908     38344       421143        22              1433.2
        TEC-PH-10004922     11121       180757         9               459.2
        TEC-PH-10004977     11216       262951        10              1500.9

                         Unit_Profit  Total_Profit  Total_Sales  Month  \
Region  Product_Id
Central FUR-BO-10000112         45.1         405.9       7245.9      4
        FUR-BO-10000362         49.2         147.6       1047.6      1
        FUR-BO-10000468         30.5         122.0        722.0      9
        FUR-BO-10000711          3.7          11.1        611.1      7
        FUR-BO-10000780        243.1        1503.7      14003.7     16
...                              ...           ...          ...    ...
West    TEC-PH-10004896          8.6          25.8        205.8      1
        TEC-PH-10004897         -0.8          -2.4         57.6     12
        TEC-PH-10004908        123.2         680.4       7300.4     25
        TEC-PH-10004922         39.2         199.2       2299.2     17
        TEC-PH-10004977         90.9         311.2       5101.2     19

                         Order_Year  Quarter
Region  Product_Id
Central FUR-BO-10000112        2023        2
        FUR-BO-10000362        2022        1
        FUR-BO-10000468        2022        3
        FUR-BO-10000711        2023        3
        FUR-BO-10000780        6068        6
...                             ...      ...
West    TEC-PH-10004896        2022        1
        TEC-PH-10004897        2023        4
        TEC-PH-10004908       10114       10
        TEC-PH-10004922        4044        6
        TEC-PH-10004977        6067        8

[5298 rows x 10 columns]

In [76]:
df1.groupby(['Region', 'Product_Id']).sum(['Total_Sales']).reset_index()

,Region,Product_Id,Order_Id,Postal_Code,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,Central,FUR-BO-10000112,3513,60653,9,805.1,45.1,405.9,7245.9,4,2023,2
1,Central,FUR-BO-10000362,1595,61604,3,349.2,49.2,147.6,1047.6,1,2022,1
2,Central,FUR-BO-10000468,3031,48146,4,180.5,30.5,122.0,722.0,9,2022,3
3,Central,FUR-BO-10000711,5221,48234,3,203.7,3.7,11.1,611.1,7,2023,3
4,Central,FUR-BO-10000780,16297,229596,17,2223.1,243.1,1503.7,14003.7,16,6068,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5293,West,TEC-PH-10004896,1088,94601,3,68.6,8.6,25.8,205.8,1,2022,1
5294,West,TEC-PH-10004897,4320,87105,3,19.2,-0.8,-2.4,57.6,12,2023,4
5295,West,TEC-PH-10004908,38344,421143,22,1433.2,123.2,680.4,7300.4,25,10114,10
5296,West,TEC-PH-10004922,11121,180757,9,459.2,39.2,199.2,2299.2,17,4044,6
5297,West,TEC-PH-10004977,11216,262951,10,1500.9,90.9,311.2,5101.2,19,6067,8

In [77]:
x = df1.groupby(['Region', 'Product_Id']).sum(['Total_Sales'])['Total_Sales'].reset_index()
y = x.sort_values(by = ['Region', 'Total_Sales'], ascending = [True, False])
y.groupby('Region').head(5).reset_index()

    index   Region       Product_Id  Total_Sales
0     469  Central  OFF-BI-10000545     125827.5
1    1166  Central  TEC-CO-10004722      84875.0
2    1168  Central  TEC-MA-10000822      77509.8
3     488  Central  OFF-BI-10001120      55282.5
4     617  Central  OFF-BI-10004995      42210.0
5    2556     East  TEC-CO-10004722     106421.0
6    2565     East  TEC-MA-10001047      81549.0
7    1342     East  FUR-BO-10004834      66364.2
8    2548     East  TEC-CO-10001449      60948.0
9    1369     East  FUR-CH-10002024      60189.6
10   3691    South  TEC-MA-10002412     130406.4
11   3719    South  TEC-PH-10001459      73932.1
12   2910    South  FUR-TA-10000198      68789.9
13   3687    South  TEC-MA-10001127      50499.2
14   3192    South  OFF-BI-10003527      32029.4
15   5088     West  TEC-AC-10003832      61170.8
16   5126     West  TEC-CO-10004722      53760.0
17   4964     West  OFF-SU-10000151      53337.9
18   4099     West  FUR-TA-10003473      52669.5
19   3890     West  FUR-CH-10003973      43596.4

In [78]:
x.sort_values(by = ['Region', 'Total_Sales'], ascending = [True, False])

       Region       Product_Id  Total_Sales
469   Central  OFF-BI-10000545     125827.5
1166  Central  TEC-CO-10004722      84875.0
1168  Central  TEC-MA-10000822      77509.8
488   Central  OFF-BI-10001120      55282.5
617   Central  OFF-BI-10004995      42210.0
...       ...              ...          ...
4571     West  OFF-FA-10003472          0.0
4581     West  OFF-LA-10000134          0.0
4622     West  OFF-LA-10003714          0.0
4817     West  OFF-PA-10004000          0.0
4854     West  OFF-PA-10004948          0.0

[5298 rows x 3 columns]

Find month over month growth comparision for 2022 and 2023 sales eg : jan 2022 vs jan 2023

In [79]:
df1['Month'] = df1['Order_Date'].dt.month
df1['Month']

0        3
1        8
2        1
3        6
4        7
        ..
9989     2
9990     3
9991     8
9992    11
9993     7
Name: Month, Length: 9994, dtype: int32

In [80]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3

In [81]:
df1.groupby(['Month', 'Order_Year'])

In [82]:
df1.groupby(['Month', 'Order_Year']).sum('Total_Sales')

                  Order_Id  Postal_Code  Quantity  Unit_Selling_Price  \
Month Order_Year
1     2022         2203269     25254924      1650             94712.5
      2023         2159265     22745269      1543             88632.6
2     2022         1942952     21548462      1511             90091.0
      2023         1963083     21939004      1574            128124.2
3     2022         2001085     20660876      1447             80106.0
      2023         2204143     23815029      1651             82512.3
4     2022         2214787     25361800      1648             95451.6
      2023         1941539     22098149      1501            111568.6
5     2022         2076080     23908332      1639             79448.3
      2023         2038723     23553002      1561             86447.9
6     2022         1967618     21814012      1528             94170.5
      2023         1864583     20450282      1422             68976.5
7     2022         2157975     23743535      1579             78652.2
      2023         2418956     26432714      1844             90563.8
8     2022         2237092     24724255      1706            104808.0
      2023         2155249     23170424      1642             87733.6
9     2022         2091402     21205155      1471             79142.2
      2023         1767956     18928012      1281             76658.6
10    2022         2153052     24592596      1744            118912.7
      2023         2027157     23090094      1627            121061.5
11    2022         2126015     23371960      1568             84225.3
      2023         1989561     21892615      1487             75432.8
12    2022         1990905     22506776      1585             95869.9
      2023         2252568     24765375      1664            102556.1

                  Unit_Profit  Total_Profit  Total_Sales  Quarter
Month Order_Year
1     2022             9092.5       43521.3     437431.3      439
      2023             8272.6       42525.5     434765.5      419
2     2022             9101.0       47461.1     444011.1      399
      2023            11554.2       67118.8     731638.8      401
3     2022             7076.0       33915.2     394105.2      401
      2023             7642.3       37491.9     393051.9      434
4     2022             8801.6       42620.9     476400.9      896
      2023            10028.6       49811.5     543231.5      800
5     2022             7088.3       35745.5     413625.5      840
      2023             8187.9       40517.9     410707.9      802
6     2022             8300.5       41220.3     465300.3      816
      2023             6186.5       30029.0     328939.0      750
7     2022             7422.2       35938.4     375278.4     1284
      2023             8163.8       35923.7     422533.7     1431
8     2022            11768.0       61852.4     534562.4     1314
      2023             8353.6       44980.3     465010.3     1260
9     2022             6892.2       41067.0     433887.0     1152
      2023             6678.6       35860.5     420620.5     1059
10    2022             9632.7       50857.8     601707.8     1772
      2023            12621.5       67028.3     626498.3     1672
11    2022             7765.3       44009.6     451809.6     1692
      2023             6522.8       28350.6     334940.6     1652
12    2022             8679.9       38861.8     447421.8     1624
      2023             9336.1       43218.9     491848.9     1784

In [83]:
df1.groupby(['Month', 'Order_Year']).sum('Total_Sales')['Total_Sales']

Month  Order_Year
1      2022          437431.3
       2023          434765.5
2      2022          444011.1
       2023          731638.8
3      2022          394105.2
       2023          393051.9
4      2022          476400.9
       2023          543231.5
5      2022          413625.5
       2023          410707.9
6      2022          465300.3
       2023          328939.0
7      2022          375278.4
       2023          422533.7
8      2022          534562.4
       2023          465010.3
9      2022          433887.0
       2023          420620.5
10     2022          601707.8
       2023          626498.3
11     2022          451809.6
       2023          334940.6
12     2022          447421.8
       2023          491848.9
Name: Total_Sales, dtype: float64

In [84]:
total_sales_temp = df1.groupby(['Month', 'Order_Year']).sum('Total_Sales')['Total_Sales'].reset_index()
total_sales_temp

    Month  Order_Year  Total_Sales
0       1        2022     437431.3
1       1        2023     434765.5
2       2        2022     444011.1
3       2        2023     731638.8
4       3        2022     394105.2
5       3        2023     393051.9
6       4        2022     476400.9
7       4        2023     543231.5
8       5        2022     413625.5
9       5        2023     410707.9
10      6        2022     465300.3
11      6        2023     328939.0
12      7        2022     375278.4
13      7        2023     422533.7
14      8        2022     534562.4
15      8        2023     465010.3
16      9        2022     433887.0
17      9        2023     420620.5
18     10        2022     601707.8
19     10        2023     626498.3
20     11        2022     451809.6
21     11        2023     334940.6
22     12        2022     447421.8
23     12        2023     491848.9

In [85]:
# total_sales_temp1 = df1.groupby(['Month', 'Order_Year']).sum('Total_Sales')[['Total_Sales']].reset_index()
# print(total_sales_temp1.to_string(index=False))

In [86]:

pivot_table = total_sales_temp.pivot_table(index = 'Month', columns = 'Order_Year', values = 'Total_Sales', aggfunc = 'sum')
pivot_table

Order_Year      2022      2023
Month
1           437431.3  434765.5
2           444011.1  731638.8
3           394105.2  393051.9
4           476400.9  543231.5
5           413625.5  410707.9
6           465300.3  328939.0
7           375278.4  422533.7
8           534562.4  465010.3
9           433887.0  420620.5
10          601707.8  626498.3
11          451809.6  334940.6
12          447421.8  491848.9

In [87]:
pivot_table = pivot_table.reset_index()
pivot_table

Order_Year  Month      2022      2023
0               1  437431.3  434765.5
1               2  444011.1  731638.8
2               3  394105.2  393051.9
3               4  476400.9  543231.5
4               5  413625.5  410707.9
5               6  465300.3  328939.0
6               7  375278.4  422533.7
7               8  534562.4  465010.3
8               9  433887.0  420620.5
9              10  601707.8  626498.3
10             11  451809.6  334940.6
11             12  447421.8  491848.9

In [88]:
pivot_table['YoY_Growth'] = pivot_table[2022] - pivot_table[2023]
pivot_table

Order_Year  Month      2022      2023  YoY_Growth
0               1  437431.3  434765.5      2665.8
1               2  444011.1  731638.8   -287627.7
2               3  394105.2  393051.9      1053.3
3               4  476400.9  543231.5    -66830.6
4               5  413625.5  410707.9      2917.6
5               6  465300.3  328939.0    136361.3
6               7  375278.4  422533.7    -47255.3
7               8  534562.4  465010.3     69552.1
8               9  433887.0  420620.5     13266.5
9              10  601707.8  626498.3    -24790.5
10             11  451809.6  334940.6    116869.0
11             12  447421.8  491848.9    -44427.1

In [89]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3

In [90]:
df1['Month_Year'] = df1['Order_Date'].dt.strftime('%Y-%m')
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,...,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter,Month_Year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1,2023-03
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3,2023-08

For each category which month had highest sales

In [91]:
df1.head(11).groupby(['Month_Year', 'Category']).sum(['Total_Sales'])['Total_Sales'].reset_index().sort_values(by='Total_Sales', ascending = False)

  Month_Year         Category  Total_Sales
6    2023-03        Furniture      15437.9
0    2022-01       Technology       5187.0
2    2022-06        Furniture       4704.0
9    2023-08        Furniture       2124.3
8    2023-05  Office Supplies        533.5
1    2022-03        Furniture        339.5
7    2023-03  Office Supplies         58.8
4    2022-12  Office Supplies         38.8
3    2022-07  Office Supplies         38.0
5    2023-01  Office Supplies         19.0

In [92]:
temp_b = df1.groupby(['Category', 'Month_Year']).sum(['Total_Sales'])['Total_Sales'].reset_index()
temp_b

      Category Month_Year  Total_Sales
0    Furniture    2022-01     170244.5
1    Furniture    2022-02     192062.9
2    Furniture    2022-03     150128.1
3    Furniture    2022-04     162806.9
4    Furniture    2022-05     110578.8
..         ...        ...          ...
67  Technology    2023-08     117665.2
68  Technology    2023-09     137873.1
69  Technology    2023-10     295586.5
70  Technology    2023-11     121226.6
71  Technology    2023-12     156836.6

[72 rows x 3 columns]

In [93]:
temp_c = temp_b.sort_values(by = ['Category', 'Total_Sales'], ascending = [True, False])
temp_c

      Category Month_Year  Total_Sales
19   Furniture    2023-08     230523.5
9    Furniture    2022-10     229024.8
13   Furniture    2023-02     217851.0
10   Furniture    2022-11     203673.6
1    Furniture    2022-02     192062.9
..         ...        ...          ...
67  Technology    2023-08     117665.2
48  Technology    2022-01     117116.5
51  Technology    2022-04     114747.7
54  Technology    2022-07     102816.1
49  Technology    2022-02      93493.2

[72 rows x 3 columns]

In [94]:
temp_c.groupby('Category').head(1)

           Category Month_Year  Total_Sales
19        Furniture    2023-08     230523.5
37  Office Supplies    2023-02     287244.6
69       Technology    2023-10     295586.5

In [95]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,...,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter,Month_Year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1,2023-03
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3,2023-08

Which sub category had highest growth by profit in 2023 compare to 2022

In [96]:
temp_m = df1.groupby(['Sub_Category', 'Order_Year']).sum(['Total_Profit'])['Total_Profit'].reset_index()
temp_m

   Sub_Category  Order_Year  Total_Profit
0   Accessories        2022       38798.3
1   Accessories        2023       40613.7
2    Appliances        2022       37088.7
3    Appliances        2023       17493.9
4           Art        2022        5333.0
5           Art        2023        5079.2
6       Binders        2022       40812.5
7       Binders        2023       57990.3
8     Bookcases        2022       25494.7
9     Bookcases        2023       25776.1
10       Chairs        2022       78672.5
11       Chairs        2023       75233.2
12      Copiers        2022       42703.1
13      Copiers        2023       26561.8
14    Envelopes        2022        2607.3
15    Envelopes        2023        3502.4
16    Fasteners        2022         370.7
17    Fasteners        2023          87.9
18  Furnishings        2022       22655.3
19  Furnishings        2023       16428.4
20       Labels        2022        2007.2
21       Labels        2023        2181.6
22     Machines        2022       34605.5
23     Machines        2023       56939.8
24        Paper        2022       16150.7
25        Paper        2023       16211.9
26       Phones        2022       63060.3
27       Phones        2023       76438.2
28      Storage        2022       42927.8
29      Storage        2023       53177.5
30     Supplies        2022        5161.0
31     Supplies        2023        9241.5
32       Tables        2022       58622.7
33       Tables        2023       39899.5

In [97]:
temp_n = temp_m.pivot_table(index = 'Sub_Category', columns = 'Order_Year', values = 'Total_Profit').reset_index()
temp_n.head()

Order_Year Sub_Category     2022     2023
0           Accessories  38798.3  40613.7
1            Appliances  37088.7  17493.9
2                   Art   5333.0   5079.2
3               Binders  40812.5  57990.3
4             Bookcases  25494.7  25776.1

In [98]:
temp_n['diff'] = temp_n[2023] - temp_n[2022]
temp_n.sort_values(by = ['diff'], ascending = False).head(2)

Order_Year Sub_Category     2022     2023     diff
11             Machines  34605.5  56939.8  22334.3
3               Binders  40812.5  57990.3  17177.8

In [99]:
df1.head(2)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,...,Product_Id,Quantity,Unit_Selling_Price,Unit_Profit,Total_Profit,Total_Sales,Month,Order_Year,Quarter,Month_Year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,3,2023,1,2023-03
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,8,2023,3,2023-08

In [103]:
# retrive data for a specific index

# postal_code_at_index = df1.loc[0, 'Postal_Code']
# postal_code_at_index

np.int64(42420)

In [101]:
# check if the postal code at index 0 is equal to 42420

# is_postal_code_42420 = df1.loc[0, 'Postal_Code'] == 42420
# is_postal_code_42420

In [100]:
# Retrieve the entire row at index 0

# row_at_index_0 = df1.iloc[0]
# row_at_index_0

In [101]:
# Retrieve the entire row at index 0

# row_at_index_0 = df1.loc[0]
# row_at_index_0

# Build SQL connection to get data from pandas dataframe into SQL

In [104]:
#!pip install mysql-connector-python

import sqlalchemy as sal
engine = sal.create_engine('mysql+mysqlconnector://root:1234@localhost:3306/shipments')

conn = engine.connect()

df1.to_sql('orders', con = conn, index = False, if_exists = 'replace') # if already existed = 'append', or 'replace'

9994

# Querying Data from MySQL

In [105]:
try:
    with engine.connect() as conn:
        result = conn.execute(sal.text("select City from orders;"))
        print(result.all())
except Exception as e:
    print(f"An error occurred: {e}")

[('Henderson',), ('Henderson',), ('Los Angeles',), ('Fort Lauderdale',), ('Fort Lauderdale',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Concord',), ('Seattle',), ('Fort Worth',), ('Fort Worth',), ('Madison',), ('West Jordan',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Fremont',), ('Fremont',), ('Philadelphia',), ('Orem',), ('Los Angeles',), ('Los Angeles',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Houston',), ('Richardson',), ('Richardson',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Naperville',), ('Los Angeles',), ('Melbourne',), ('Eagan',), ('Eagan',), ('Westland',), ('Dover',), ('Dover',), ('New Albany',), ('New Albany',), ('New Albany',), ('New Albany',), ('New York City',), ('New York City',), ('Troy',), ('Troy',), ('Troy',), ('Troy',), ('Troy',), ('Troy',), ('Troy',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Chicago',), ('Gilbert',), ('Gilbert',), ('Springfield',), ('New York City',), ('Jackson',), ('Memphis',), ('Memphis',), ('Memphis',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Decatur',), ('Decatur',), ('San Francisco',), ('San Francisco',), ('Durham',), ('Chicago',), ('Columbia',), ('Rochester',), ('Rochester',), ('Houston',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Minneapolis',), ('Minneapolis',), ('Minneapolis',), ('Portland',), ('New York City',), ('San Francisco',), ('Saint Paul',), ('Chicago',), ('Chicago',), ('Chicago',), ('Rochester',), ('Aurora',), ('Aurora',), ('Aurora',), ('Charlotte',), ('Charlotte',), ('Charlotte',), ('Orland Park',), ('New York City',), ('Urbandale',), ('Urbandale',), ('Columbus',), ('Columbus',), ('Columbus',), ('Columbus',), ('Seattle',), ('Bristol',), ('Wilmington',), ('Wilmington',), ('Wilmington',), ('Wilmington',), ('Wilmington',), ('Houston',), ('Bloomington',), ('Phoenix',), ('Phoenix',), ('Los Angeles',), ('Los Angeles',), ('Columbus',), ('Columbus',), ('Columbus',), ('Roseville',), ('Roseville',), ('Roseville',), ('Roseville',), ('Roseville',), ('Roseville',), ('Roseville',), ('Philadelphia',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Independence',), ('Pasadena',), ('Newark',), ('Franklin',), ('Franklin',), ('Franklin',), ('Franklin',), ('Scottsdale',), ('Scottsdale',), ('San Jose',), ('San Jose',), ('San Jose',), ('Seattle',), ('Seattle',), ('Edmond',), ('Edmond',), ('Los Angeles',), ('Philadelphia',), ('Carlsbad',), ('Seattle',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Chicago',), ('Chicago',), ('Houston',), ('Newark',), ('Newark',), ('New York City',), ('Decatur',), ('Decatur',), ('Monroe',), ('Monroe',), ('Monroe',), ('Fairfield',), ('Los Angeles',), ('Grand Prairie',), ('Grand Prairie',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Redlands',), ('Hamilton',), ('Hamilton',), ('Westfield',), ('Philadelphia',), ('Philadelphia',), ('Akron',), ('Denver',), ('Denver',), ('Dallas',), ('Franklin',), ('Whittier',), ('Saginaw',), ('Saginaw',), ('Saginaw',), ('Saginaw',), ('Saginaw',), ('Dallas',), ('Medina',), ('Medina',), ('Medina',), ('Medina',), ('Medina',), ('Los Angeles',), ('Los Angeles',), ('Dublin',), ('Dublin',), ('Dublin',), ('Dublin',), ('Dublin',), ('Dublin',), ('Detroit',), ('Detroit',), ('Detroit',), ('Columbia',), ('Columbia',), ('Charlotte',), ('Tampa',), ('Tampa',), ('Tampa',), ('Tampa',), ('Tampa',), ('Santa Clara',), ('Chicago',), ('Chicago',), ('Chicago',), ('Chicago',), ('Chicago',), ('Chicago',), ('Chicago',), ('Lakeville',), ('Lakeville',), ('Lakeville',), ('Lakeville',), ('Lakeville',), ('San Francisco',), ('San Diego',), ('San Diego',), ('New York City',), ('New York City',), ('Chicago',), ('Chicago',), ('Chicago',), ('Chicago',), ('New York City',), ('New York City',), ('New York City',), ('Pasadena',), ('Houston',), ('Houston',), ('Chicago',), ('Brentwood',), ('Chapel Hill',), ('Morristown',), ('Cincinnati',), ('Cincinnati',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Inglewood',), ('Inglewood',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Houston',), ('Houston',), ('Los Angeles',), ('Portland',), ('Portland',), ('Portland',), ('Tamarac',), ('Tamarac',), ('Tamarac',), ('Columbus',), ('Columbus',), ('Columbus',), ('Columbus',), ('Colorado Springs',), ('Colorado Springs',), ('Colorado Springs',), ('Colorado Springs',), ('Colorado Springs',), ('Belleville',), ('Belleville',), ('Belleville',), ('Belleville',), ('Belleville',), ('Chicago',), ('New York City',), ('Taylor',), ('Lakewood',), ('Lakewood',), ('Arlington',), ('Arvada',), ('Arvada',), ('Arvada',), ('Arvada',), ('Hackensack',), ('Saint Petersburg',), ('Saint Petersburg',), ('Philadelphia',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Long Beach',), ('Hesperia',), ('Hesperia',), ('Murfreesboro',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('San Francisco',), ('San Francisco',), ('Layton',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Austin',), ('San Francisco',), ('Lowell',), ('Lowell',), ('Lowell',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Charlotte',), ('Columbus',), ('Columbus',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('San Francisco',), ('Manchester',), ('Manchester',), ('Manchester',), ('Manchester',), ('Harlingen',), ('Harlingen',), ('Tucson',), ('Tucson',), ('Tucson',), ('Tucson',), ('Quincy',), ('Franklin',), ('Houston',), ('Houston',), ('Houston',), ('San Francisco',), ('San Francisco',), ('Taylor',), ('Pembroke Pines',), ('Pembroke Pines',), ('Philadelphia',), ('Philadelphia',), ('Cincinnati',), ('New York City',), ('New York City',), ('Des Moines',), ('Des Moines',), ('Peoria',), ('Las Vegas',), ('Warwick',), ('Warwick',), ('Jackson',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Miami',), ('Wilmington',), ('New York City',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Seattle',), ('Seattle',), ('Huntington Beach',), ('Los Angeles',), ('Richmond',), ('Los Angeles',), ('Los Angeles',), ('Louisville',), ('Lawrence',), ('Lawrence',), ('Jackson',), ('Canton',), ('Canton',), ('New Rochelle',), ('San Antonio',), ('Gastonia',), ('Gastonia',), ('Gastonia',), ('Gastonia',), ('Lowell',), ('Jacksonville',), ('Jacksonville',), ('Chicago',), ('Chicago',), ('Houston',), ('New York City',), ('Detroit',), ('Detroit',), ('Detroit',), ('Detroit',), ('Detroit',), ('Detroit',), ('Columbus',), ('Auburn',), ('Auburn',), ('Auburn',), ('Auburn',), ('Auburn',), ('Auburn',), ('Akron',), ('Akron',), ('Norman',), ('Concord',), ('Decatur',), ('Decatur',), ('Seattle',), ('Seattle',), ('Seattle',), ('Phoenix',), ('Phoenix',), ('Phoenix',), ('Phoenix',), ('Phoenix',), ('Park Ridge',), ('Amarillo',), ('Chicago',), ('Lindenhurst',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Los Angeles',), ('Troy',), ('New York City',), ('New York City',), ('San Diego',), ('New York City',), ('New York City',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Chicago',), ('Huntsville',), ('Huntsville',), ('Huntsville',), ('Rochester',), ('Rochester',), ('Seattle',), ('Memphis',), ('Fayetteville',), ('Costa Mesa',), ('Costa Mesa',), ('Costa Mesa',), ('Costa Mesa',), ('Parker',), ('Parker',), ('Parker',), ('Parker',), ('Parker',), ('New York City',), ('Atlanta',), ('Atlanta',), ('Atlanta',), ('Atlanta',), ('Gladstone',), ('Gladstone',), ('Newark',), ('Los Angeles',), ('Los Angeles',), ('Great Falls',), ('Great Falls',), ('Great Falls',), ('Great Falls',), ('Houston',), ('Houston',), ('Houston',), ('Detroit',), ('Los Angeles',), ('Los Angeles',), ('Lawrence',), ('Lakeland',), ('Lakeland',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Los Angeles',), ('Los Angeles',), ('Montgomery',), ('Montgomery',), ('Mesa',), ('Chicago',), ('New York City',), ('Henderson',), ('Henderson',), ('Green Bay',), ('Tucson',), ('Springfield',), ('Fort Worth',), ('Fort Worth',), ('Fort Worth',), ('New York City',), ('New York City',), ('Chicago',), ('Chicago',), ('Chicago',), ('San Francisco',), ('Jacksonville',), ('Houston',), ('Anaheim',), ('Wilmington',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('San Francisco',), ('San Francisco',), ('Tampa',), ('Tampa',), ('Seattle',), ('Seattle',), ('Los Angeles',), ('Seattle',), ('Seattle',), ('Seattle',), ('Seattle',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Marysville',), ('Long Beach',), ('Long Beach',), ('Long Beach',), ('Chicago',), ('Chicago',), ('Los Angeles',), ('Denver',), ('Denver',), ('Denver',), ('Denver',), ('Denver',), ('Richmond',), ('Richmond',), ('Salem',), ('Salem',), ('Salem',), ('Salem',), ('Laredo',), ('Laredo',), ('San Diego',), ('San Diego',), ('San Diego',), ('San Diego',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Tampa',), ('Tampa',), ('Tampa',), ('Tampa',), ('Tampa',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Dallas',), ('Dallas',), ('Philadelphia',), ('Philadelphia',), ('Grove City',), ('Grove City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Chicago',), ('Dearborn',), ('Dearborn',), ('Dearborn',), ('Dearborn',), ('New York City',), ('Seattle',), ('San Francisco',), ('San Francisco',), ('Aurora',), ('Aurora',), ('Aurora',), ('Miami',), ('Miami',), ('Warner Robins',), ('Aurora',), ('Aurora',), ('Vallejo',), ('Vallejo',), ('Minneapolis',), ('Mission Viejo',), ('Mission Viejo',), ('Rochester Hills',), ('Plainfield',), ('Columbus',), ('Sierra Vista',), ('Sierra Vista',), ('Vancouver',), ('Vancouver',), ('Vancouver',), ('New York City',), ('New York City',), ('New York City',), ('Columbus',), ('Columbus',), ('Columbus',), ('Aurora',), ('Aurora',), ('Arlington',), ('Arlington',), ('Arlington',), ('Arlington',), ('New York City',), ('Louisville',), ('Dallas',), ('Dallas',), ('Dallas',), ('Cleveland',), ('Chicago',), ('Chicago',), ('Chicago',), ('Quincy',), ('Columbus',), ('Columbus',), ('Columbus',), ('Tyler',), ('Tyler',), ('Tyler',), ('Tyler',), ('New York City',), ('New York City',), ('New York City',), ('Burlington',), ('Burlington',), ('Jackson',), ('Jackson',), ('Jackson',), ('New York City',), ('Waynesboro',), ('Waynesboro',), ('Waynesboro',), ('Los Angeles',), ('Los Angeles',), ('Chester',), ('Chester',), ('Chester',), ('Chester',), ('Chester',), ('Chester',), ('Chester',), ('Cleveland',), ('Seattle',), ('Long Beach',), ('Cary',), ('Cary',), ('Cary',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Palm Coast',), ('Mount Vernon',), ('Mount Vernon',), ('Mount Vernon',), ('Seattle',), ('Dover',), ('Newark',), ('Orem',), ('Orem',), ('Los Angeles',), ('Detroit',), ('Detroit',), ('Philadelphia',), ('Hialeah',), ('Austin',), ('Austin',), ('Oceanside',), ('Oceanside',), ('Oceanside',), ('Oceanside',), ('Oceanside',), ('Seattle',), ('Seattle',), ('Seattle',), ('Seattle',), ('Seattle',), ('Seattle',), ('San Francisco',), ('Naperville',), ('Naperville',), ('Naperville',), ('Dallas',), ('Dallas',), ('Dallas',), ('Dallas',), ('San Diego',), ('San Diego',), ('Evanston',), ('Trenton',), ('Trenton',), ('Trenton',), ('Trenton',), ('San Francisco',), ('Los Angeles',), ('Jacksonville',), ('Cottage Grove',), ('Cottage Grove',), ('New York City',), ('Green Bay',), ('Los Angeles',), ('Atlanta',), ('Columbus',), ('Bossier City',), ('Bossier City',), ('Bossier City',), ('Bossier City',), ('Bossier City',), ('Saint Petersburg',), ('Arlington',), ('Des Moines',), ('Des Moines',), ('Des Moines',), ('Des Moines',), ('Des Moines',), ('Des Moines',), ('Cincinnati',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Columbus',), ('Columbus',), ('Columbus',), ('Columbus',), ('Columbia',), ('Lancaster',), ('Lancaster',), ('Richmond',), ('Richmond',), ('Richmond',), ('Richmond',), ('Asheville',), ('San Francisco',), ('San Francisco',), ('Rochester',), ('Rochester',), ('Rochester',), ('Rochester',), ('Lake Elsinore',), ('San Diego',), ('San Diego',), ('New York City',), ('Monroe',), ('San Francisco',), ('Denver',), ('Denver',), ('Omaha',), ('Omaha',), ('Edmonds',), ('Edmonds',), ('Edmonds',), ('Edmonds',), ('Santa Ana',), ('Santa Ana',), ('Milwaukee',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Belleville',), ('Belleville',), ('San Francisco',), ('San Francisco',), ('Lakeville',), ('Lakeville',), ('Lakeville',), ('Florence',), ('Florence',), ('Florence',), ('Florence',), ('Tampa',), ('Tampa',), ('Tampa',), ('Tyler',), ('Columbia',), ('Fort Worth',), ('New York City',), ('New York City',), ('New York City',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Louisville',), ('Louisville',), ('Lorain',), ('Linden',), ('Salinas',), ('Salinas',), ('Jackson',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New Brunswick',), ('New Brunswick',), ('San Francisco',), ('San Francisco',), ('Jacksonville',), ('Jacksonville',), ('Jacksonville',), ('Springfield',), ('Springfield',), ('Philadelphia',), ('Lancaster',), ('Philadelphia',), ('Philadelphia',), ('Concord',), ('New York City',), ('New York City',), ('Charlotte',), ('Concord',), ('Concord',), ('Concord',), ('Philadelphia',), ('New York City',), ('New York City',), ('Springfield',), ('San Francisco',), ('Detroit',), ('Rochester',), ('Los Angeles',), ('San Diego',), ('Columbia',), ('San Francisco',), ('New Rochelle',), ('New Rochelle',), ('Detroit',), ('Detroit',), ('Detroit',), ('San Francisco',), ('San Francisco',), ('Houston',), ('Detroit',), ('Auburn',), ('Springfield',), ('Garland',), ('Garland',), ('Chicago',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('New York City',), ('New York City',), ('New York City',), ('Jackson',), ('Jackson',), ('Jackson',), ('Norwich',), ('Milwaukee',), ('Milwaukee',), ('San Antonio',), ('San Antonio',), ('San Antonio',), ('Dallas',), ('Dallas',), ('Alexandria',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Philadelphia',), ('Philadelphia',), ('Springfield',), ('Springfield',), ('Toledo',), ('Toledo',), ('Toledo',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Farmington',), ('Riverside',), ('Riverside',), ('San Francisco',), ('Torrance',), ('Torrance',), ('Seattle',), ('Seattle',), ('Seattle',), ('Mesa',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Round Rock',), ('Round Rock',), ('Jackson',), ('Phoenix',), ('Phoenix',), ('Phoenix',), ('Oceanside',), ('San Francisco',), ('Fayetteville',), ('San Francisco',), ('Boca Raton',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('New York City',), ('New York City',), ('Portland',), ('Detroit',), ('Wilmington',), ('Columbus',), ('New York City',), ('Louisville',), ('Louisville',), ('Louisville',), ('Pasadena',), ('Pasadena',), ('Pasadena',), ('Houston',), ('Auburn',), ('Auburn',), ('Jacksonville',), ('New York City',), ('San Jose',), ('San Jose',), ('Virginia Beach',), ('Virginia Beach',), ('Henderson',), ('Henderson',), ('Henderson',), ('Henderson',), ('Vancouver',), ('New York City',), ('New York City',), ('New York City',), ('Murrieta',), ('Jacksonville',), ('Scottsdale',), ('Scottsdale',), ('Burlington',), ('Chicago',), ('San Diego',), ('Olympia',), ('Olympia',), ('Seattle',), ('Seattle',), ('Los Angeles',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Washington',), ('Washington',), ('Washington',), ('Philadelphia',), ('Los Angeles',), ('Springfield',), ('Springfield',), ('Springfield',), ('Hackensack',), ('Hackensack',), ('Hackensack',), ('Hackensack',), ('Hackensack',), ('Cincinnati',), ('Cincinnati',), ('Cincinnati',), ('Jefferson City',), ('Los Angeles',), ('Burlington',), ('Burlington',), ('Saint Peters',), ('New York City',), ('New York City',), ('Chicago',), ('Chicago',), ('Rockford',), ('Miami',), ('Miami',), ('San Francisco',), ('San Francisco',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('San Diego',), ('San Diego',), ('Philadelphia',), ('Houston',), ('Toledo',), ('Toledo',), ('Toledo',), ('Toledo',), ('Toledo',), ('Toledo',), ('San Francisco',), ('Brownsville',), ('Philadelphia',), ('Los Angeles',), ('Denver',), ('New York City',), ('Mesa',), ('Mesa',), ('Mesa',), ('Columbus',), ('Seattle',), ('Seattle',), ('Seattle',), ('Detroit',), ('Detroit',), ('Yonkers',), ('Yonkers',), ('Yonkers',), ('Yonkers',), ('Des Moines',), ('Oakland',), ('Oakland',), ('Monroe',), ('Monroe',), ('San Diego',), ('San Diego',), ('Clinton',), ('Clinton',), ('Charlotte',), ('Charlotte',), ('Los Angeles',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('San Francisco',), ('Houston',), ('Houston',), ('Riverside',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Houston',), ('Encinitas',), ('Encinitas',), ('Encinitas',), ('San Francisco',), ('Roswell',), ('Roswell',), ('Roswell',), ('Roswell',), ('Jonesboro',), ('Jonesboro',), ('Jonesboro',), ('Jonesboro',), ('Jonesboro',), ('Jonesboro',), ('Richmond',), ('Richmond',), ('Springfield',), ('Springfield',), ('Springfield',), ('Antioch',), ('Philadelphia',), ('Philadelphia',), ('Homestead',), ('La Porte',), ('La Porte',), ('La Porte',), ('La Porte',), ('La Porte',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Lansing',), ('Lansing',), ('Lansing',), ('Lansing',), ('Lansing',), ('Cuyahoga Falls',), ('Reno',), ('Reno',), ('Harrisonburg',), ('Harrisonburg',), ('Harrisonburg',), ('Harrisonburg',), ('Los Angeles',), ('Minneapolis',), ('Minneapolis',), ('Escondido',), ('New York City',), ('New York City',), ('New York City',), ('Jackson',), ('Seattle',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Royal Oak',), ('Los Angeles',), ('Bloomington',), ('New York City',), ('Concord',), ('Los Angeles',), ('Rockville',), ('Rockville',), ('Houston',), ('Lakewood',), ('Lakewood',), ('Jacksonville',), ('Jacksonville',), ('Seattle',), ('Seattle',), ('Seattle',), ('Seattle',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Los Angeles',), ('Coral Springs',), ('Coral Springs',), ('Coral Springs',), ('Coral Springs',), ('Houston',), ('Houston',), ('Houston',), ('Denver',), ('Denver',), ('Denver',), ('Denver',), ('Denver',), ('Charlotte',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('New York City',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Philadelphia',), ('Los Angeles',), 

In [108]:
import pandas as pd

try:
    with engine.connect() as conn:
        query = "select Order_Id, cast(sum(Quantity * Unit_Selling_Price) as decimal(10, 2)) as 'Total_Selling_Price', cast(sum(Quantity * Unit_Profit) as decimal(10, 2)) as 'Total_Profitt' from  orders group by Order_Id order by Total_Profitt desc;";
        # Load the query result into a DataFrame
        df = pd.read_sql_query(query, conn)
        print(df)
except Exception as e:
    print(f"An error occurred: {e}")

      Order_Id  Total_Selling_Price  Total_Profitt
0         2698             130406.4        21746.4
1         6827              84875.0        14875.0
2         9040             122141.5        12811.5
3         4278              61789.0         8309.0
4          166              62668.8         7868.8
...        ...                  ...            ...
9989      7930               1710.0          -30.0
9990      4580                739.2          -30.8
9991      2568              22828.5          -31.5
9992      9122                598.5          -31.5
9993      3669                960.0          -40.0

[9994 rows x 3 columns]

Result the Query to DataFrame and reading to CSV file

In [109]:
import pandas as pd

try:
    with engine.connect() as conn:
        query = "select Order_Id, cast(sum(Quantity * Unit_Selling_Price) as decimal(10, 2)) as 'Total_Selling_Price', cast(sum(Quantity * Unit_Profit) as decimal(10, 2)) as 'Total_Profitt' from  orders group by Order_Id order by Total_Profitt desc;"
        df = pd.read_sql_query(query, conn)
        
        df.to_csv("total_sel_price & profits.csv", index=False)
        
        print("Data successfully exported to query_result.csv")
        print(df.head())
except Exception as e:
    print(f"An error occurred: {e}")

Data successfully exported to query_result.csv
   Order_Id  Total_Selling_Price  Total_Profitt
0      2698             130406.4        21746.4
1      6827              84875.0        14875.0
2      9040             122141.5        12811.5
3      4278              61789.0         8309.0
4       166              62668.8         7868.8